extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h2.display-4.m-b-2 All Applications

        div#outcont
          each app in apps
            h3= `Name: ${app.name}`
            h5 Application Letter
            p=app.letter
            a(href=`/applications/${app._id}`) read more
            hr
                   