extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h2.display-4.m-b-2 All posts

        div#outcont
          each post in posts
            h3= `Title: ${post.title}`
            h4 Description
            p=post.description
            a(href=`posts/${post._id}`) read more
            if (userId===post.owner)
              br
              a(href=`posts/${post._id}/applications`) View Applications
            hr
                   